.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.board__square {
    min-width: 50px;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 16px;
}